<div class="modal-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="modal-title">
                <h4> Budget : {{form.nama}}</h4>
                <!-- {{form}} -->
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label-sm required">Tahun</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" ng-change="getBudget(form.tahun)" ng-model="form.tahun" ng-disabled="is_view" required/>
                    </div>
                </div>
            </div>
            <!--<br/>-->
            <table class="table table-striped table-bordered">
                <thead>
                <th>Bulan</th>
                <th width="60%">Budget</th>
                </thead>
                <tbody>
                    <tr ng-repeat="val in listBudget">
                        <td>{{val.nama_bulan}}</td>
                        <td>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Rp.</span>
                                </div>
                                <input class="form-control text-right angka" type="text" ui-number-mask="0" ng-model="val.budget">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" ng-click="close()">
        <i class="fa fa-close">
        </i>
        Batal
    </button>
    <button autosave="" class="btn btn-primary btn-sm" ng-click="save(form)" ng-hide="is_view">
        <i class="fa fa-save">
        </i>
        Simpan
    </button>
</div> 
